src/view/index.pug
extends include/main

block variables
  - let title = 'Get Invoice'
  - let description = ''

block content
  section#index
    .container
      .index.content
        .index__main
          .index__title
            h1 Professional Invoices in Seconds
          .index__link
            a(href='#' target='_blank' title='Open App Store')
              svg
                use(href='/image/icon/app-store.svg#app-store')
        .index__images
          .index__image.index__image-1
            img(src='/image/illustration/iPhone-14-Pro.png' srcset='/image/illustration/iPhone-14-Pro@2x.png 2x, /image/illustration/iPhone-14-Pro@3x.png 3x' loading='eager' alt='illustration')
          .index__image.index__image-2
            img(src='/image/illustration/iPhone-14-Pro-2.png' srcset='/image/illustration/iPhone-14-Pro-2@2x.png 2x, /image/illustration/iPhone-14-Pro-2@3x.png 3x' loading='eager' alt='illustration')
        .index__bg
          picture
            source(srcset='/image/illustration/main.png 1x, /image/illustration/main@2x.png 2x, /image/illustration/main@3x.png 3x' media='(min-width: 992px)' type='image/png')
            img(src='/image/illustration/main.m.png' srcset='/image/illustration/main.m@2x.png 2x, /image/illustration/main.m@3x.png 3x' loading='eager' alt='illustration')

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get Invoice</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link rel="icon" href="/image/favicon.ico" sizes="any">
    <link rel="icon" href="/image/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <link href="/assets/css/main.css?v=096a7c2" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Get Invoice">
          <svg>
            <use href="/image/logo.svg#logo"></use>
          </svg></a></div>
    </div>
  </div>
</header>
      <main>
        <section id="index">
          <div class="container">
            <div class="index content">
              <div class="index__main">
                <div class="index__title">
                  <h1>Professional Invoices in Seconds</h1>
                </div>
                <div class="index__link"><a href="#" target="_blank" title="Open App Store">
                    <svg>
                      <use href="/image/icon/app-store.svg#app-store"></use>
                    </svg></a></div>
              </div>
              <div class="index__images">
                <div class="index__image index__image-1"><img src="/image/illustration/iPhone-14-Pro.png" srcset="/image/illustration/iPhone-14-Pro@2x.png 2x, /image/illustration/iPhone-14-Pro@3x.png 3x" loading="eager" alt="illustration"></div>
                <div class="index__image index__image-2"><img src="/image/illustration/iPhone-14-Pro-2.png" srcset="/image/illustration/iPhone-14-Pro-2@2x.png 2x, /image/illustration/iPhone-14-Pro-2@3x.png 3x" loading="eager" alt="illustration"></div>
              </div>
              <div class="index__bg">
                <picture>
                  <source srcset="/image/illustration/main.png 1x, /image/illustration/main@2x.png 2x, /image/illustration/main@3x.png 3x" media="(min-width: 992px)" type="image/png"><img src="/image/illustration/main.m.png" srcset="/image/illustration/main.m@2x.png 2x, /image/illustration/main.m@3x.png 3x" loading="eager" alt="illustration">
                </picture>
              </div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer-copyright">
        <p>&copy; 2023 All Rights Reserved. Alfa Apps<br><span><a href="#" target="_blank" title="Terms of Service">Terms of Service</a> and <a href="#" target="_blank" title="Privacy Policy">Privacy Policy</a></span></p>
      </div>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=03ecfff"></script></body>
</html>
